.Navbar {
  height: 5rem;
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  background-color: white;
}
.NavbarContainer {
  width: 45rem;
  height: 100%;
  display: flex;
}

@media (min-width: 2000px) {
  .NavbarContainer {
    width: 90rem;
  }
}

.NavbarContainer a {
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;
  text-decoration: none;
  color: black;
  background-color: white;
}
.NavbarContainer > a > div {
  font-size: 1.375rem;
  margin: 0;
  text-decoration: none;
}

@media (max-width: 800px) {
  .NavbarContainer > a > div {
    font-size: 1.1rem;
  }
}

@media (max-width: 700px) {
  .NavbarContainer > a > div {
    font-size: 1rem;
  }
}
@media (min-width: 2000px) {
  .NavbarContainer > a > div {
    font-size: 1.5rem;
  }
}
.HomeLink:hover {
  font-weight: bold;
  color: white;
  background-color: #2e2c2a;
}

.AboutLink:hover {
  font-weight: bold;
  color: white;
  background-color: #f41919;
}

.ContactLink:hover {
  font-weight: bold;
  color: white;
  background-color: #2e2c2a;
}
