.swiper {
  width: calc(100vw * 80 / 100);
  aspect-ratio: 4 / 1;
}

.swiper-slide {
  text-align: center;
  font-size: calc(100vw / 80);
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  user-select: none;
  border: 1px solid #c1c1c1;
  box-sizing: border-box;
}
